{% extends "blog/base.html" %}

{% block content %}
<div class="container col-md-10">
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <h1>About</h1>
      </div>
      <br>
      <em><h5>Welcome to NSU Social</h5>
        A social networking site exclusively for the students of North South University.
        <br>
        You must be a student of NSU to be eligible to create an account here or see any of the content of this site.
      </em>
      <br>
      <br>
      <br>
      <strong>Developed by:</strong><br>
      <em>
        S. M. Al Faruqui [ID: 172 1395 042] <br>
        Subrena Islam [ID: 162 0283 042] <br>

      </em>
      <small>For CSE299-Spring-2019 (Sec-19)</small>
    </div>
  </article>
</div>
{% endblock content %}
