{% extends "blog/base.html" %}

{% block content %}
<div class="container col-md-10">
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <h1>About</h1>
      </div>
      <br>
      <em><h5>Welcome to NSU Social</h5>
        A social networking site exclusively for the students of North South University.
        <br>
        You must be a student of NSU to be eligible to create an account here or see any of the content of this site.

        <br>
        <br>
        <br>
        You can't create an account unless you are included in the
          <b>NSU-Social Students-database.</b><br><br>
          So if you want to create an acount send me an email at <b>s.m.faruqui@northsouth.edu</b> to add you to our database<br>
          <br>
          <b>Sample Email:</b><br>
          <b>Email Title:</b> NSU Social- [Your NSU ID] <br>
          <b>Email Content:</b> Your [NSU ID] and [NSU email address]
      </em>
      <br>
      <br>
      <br>
      <strong>Developed by:</strong><br>
      <em>
        S. M. Al Faruqui [ID: 172 1395 042] <br>
        Subrena Islam [ID: 162 0283 042] <br>

      </em>
      <small>For CSE299-Spring-2019 (Sec-19)</small>
    </div>
  </article>
</div>
{% endblock content %}
