{% load static %}
<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{% static 'blog/icon.png' %}" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">

  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


    {% if title %}
        <title>NSU Social - {{ title }}</title>
    {% else %}
        <title>NSU Social</title>
    {% endif %}
</head>

<body>

<header class="site-header">
  <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand mr-4" href="{% url 'blog-home' %}">
        <img src="{% static 'blog/icon.png' %}" height="33px">  NSU Social</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggle">
        <div class="navbar-nav mr-auto">
          <a class="nav-item nav-link" href="{% url 'blog-home' %}">Home</a>
          {% if user.is_authenticated %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                Blog
              </a>
              <div class="dropdown-menu">

                <a class="dropdown-item " href="{% url 'post-create' %}">New Post</a>
                <a class="dropdown-item " href="{% url 'blog-newsfeed' %}">Newsfeed</a>
              </div>
            </li>
            <a class="nav-item nav-link" href="{% url 'groups:all' %}">Groups</a>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                Community
              </a>
              <div class="dropdown-menu">

                <a class="dropdown-item " href="{% url 'members' %}">Members</a>
                <a class="dropdown-item " href="{% url 'students' %}">Database</a>
              </div>
            </li>
          {% endif %}



          <a class="nav-item nav-link" href="{% url 'blog-about' %}">Test</a>



        </div>
        <!-- Navbar Right Side -->
        <div class="navbar-nav">

          {% if user.is_authenticated %}
            <a class="nav-item nav-link" href="{% url 'post-create' %}">New Post</a>
            <a class="nav-item nav-link" href="{% url 'profile' %}">{{user.username}}</a>
            <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
          {% else %}
            <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
            <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
          {% endif %}
        </div>
      </div>
    </div>
  </nav>
</header>

    <main role="main" class="container-fluid">

      <div class="row">
        <div class="col-md-2">
          <div class="container">
            <!-- Profile card -->
            {% if user.is_authenticated %}
              <div class="card">
                <img class="card-img-top" src="{{ user.profile.image.url }}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title"><a href="{% url 'profile' %}">{{ user.username }}</a></h5>

                  <table class="container">
                    <tr>


                    </tr>
                    <tr>
                      <td>Joined</td>
                      <td>: {{user.profile.date_registered | date:"M d, Y"}}</td>
                    </tr>
                  </table>
                  <br>

                  <!-- Social media links -->
                  <div class="container">
                    <a href="{{ user.profile.fb_link }}">
                      <img src="{% static 'logo/fblogo.png' %}" height="20px"  alt="">
                    </a>
                    <a href="{{ user.profile.twitter_link }}">
                      <img src="{% static 'logo/twitter.jpg' %}" height="20px"  alt="">
                    </a>
                    <a href="{{ user.profile.insta_link }}">
                      <img src="{% static 'logo/insta.png' %}" height="20px"  alt="">
                    </a>
                    <a href="{{ user.profile.git_link }}">
                      <img src="{% static 'logo/git.png' %}" height="20px"  alt="">
                    </a>
                    <a href="{{ user.profile.linkedin_link }}">
                      <img src="{% static 'logo/linkedin.png' %}" height="20px"  alt="">
                    </a>
                  </div>

                </div class="container">
                <a href="{% url 'editprofile' %}" class="btn btn-secondary mb-1">Edit Profile</a>
                <a href="{% url 'post-create' %}" class="btn btn-primary">New Post</a>
              </div>
            {% endif %}

          </div>
        </div>

        <div class="col-md-7">
          <div class="container">
            {% if messages %}
              {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
            {% block content %}{% endblock %}
          </div>

        </div>

      </div>
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>



</body>
</html>
