{% load static %}
<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{% static 'blog/icon.png' %}" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">

  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


    {% if title %}
        <title>NSU Social - {{ title }}</title>
    {% else %}
        <title>NSU Social</title>
    {% endif %}
</head>

<body>

<header class="site-header">
  <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand mr-4" href="{% url 'blog-home' %}">
        <img src="{% static 'blog/icon.png' %}" height="33px">  NSU Social</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggle">
        <div class="navbar-nav mr-auto">
          <a class="nav-item nav-link" href="{% url 'blog-home' %}">Home</a>
          {% if user.is_authenticated %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                Blog
              </a>
              <div class="dropdown-menu">

                <a class="dropdown-item " href="{% url 'post-create' %}">New Post</a>
                <a class="dropdown-item border-bottom mb-2" href="{% url 'user-posts' user.username %}">Your Posts</a>
                <a class="dropdown-item " href="{% url 'blog-home' %}">All Post</a>
              </div>
            </li>


            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="{% url 'groups:all' %}" id="navbardrop" data-toggle="dropdown">
                Groups
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item border-bottom mb-2" href="{% url 'groups:all' %}">All Groups</a>
                <a class="dropdown-item " href="{% url 'posts:all' %}">All Posts</a>
                <a class="dropdown-item border-bottom mb-2" href="{% url 'posts:for_user' username=user.username %}">Your Posts</a>

                <a class="dropdown-item " href="{% url 'posts:create' %}">Create Post</a>
                <a class="dropdown-item " href="{% url 'groups:create' %}">Create Group</a>

              </div>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                Community
              </a>
              <div class="dropdown-menu">

                <a class="dropdown-item " href="{% url 'members' %}">Members</a>
                <a class="dropdown-item " href="{% url 'students' %}">Database</a>
              </div>
            </li>
          {% endif %}



          <a class="nav-item nav-link" href="{% url 'blog-about' %}">About</a>



        </div>
        <!-- Navbar Right Side -->
        <div class="navbar-nav">

          {% if user.is_authenticated %}
            <a class="nav-item nav-link" href="{% url 'profile' %}"></a>
            <a class="nav-item nav-link" href="{% url 'post-create' %}">New Post</a>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                <img src="{{ user.profile.image.url }}" height="33px">
              </a>
              <div class="dropdown-menu dropdown-menu-right">

                <a class="dropdown-item " href="{% url 'profile' %}">Your Profile</a>
                <a class="dropdown-item " href="{% url 'user-posts' user.username %}">Your Posts</a>
                <a class="dropdown-item border-bottom mb-2" href="{% url 'editprofile' %}">Edit Profile</a>
                <a class="dropdown-item " href="{% url 'logout' %}">Logout</a>
              </div>
            </li>

          {% else %}
            <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
            <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
          {% endif %}
        </div>
      </div>
    </div>
  </nav>
</header>

    <main role="main" class="container-fluid">

      <div class="row">
        <div class="col-md-2">
          <div class="container">
            <!-- Profile card -->
            {% if user.is_authenticated %}
              <div class="card">
                <img class="card-img-top" src="{{ user.profile.image.url }}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title"><a href="{% url 'user-detail' user.profile.id %}">{{ user.username }}</a></h5>


                  <small>Blog Posts: <a href="{% url 'user-posts' user.username %}">{{ user.post.count }}</a></small><br>
                  <small>Group Posts: <a href="{% url 'posts:for_user' username=user.username %}">{{ user.posts.count }}</a></small><br>
                  <small>Joined: {{ user.profile.date_registered|date:"d M, Y"  }}</small><br>
                  <br>

                  <!-- Social media links -->
                  <div class="container">
                    <a href="{{ user.profile.fb_link }}">
                      <img src="{% static 'logo/fblogo.png' %}" height="20px"  alt="">
                    </a>
                    <a href="{{ user.profile.twitter_link }}">
                      <img src="{% static 'logo/twitter.jpg' %}" height="20px"  alt="">
                    </a>
                    <a href="{{ user.profile.insta_link }}">
                      <img src="{% static 'logo/insta.png' %}" height="20px"  alt="">
                    </a>
                    <a href="{{ user.profile.git_link }}">
                      <img src="{% static 'logo/git.png' %}" height="20px"  alt="">
                    </a>
                    <a href="{{ user.profile.linkedin_link }}">
                      <img src="{% static 'logo/linkedin.png' %}" height="20px"  alt="">
                    </a>
                  </div>

                </div class="container">
                <a href="{% url 'editprofile' %}" class="btn btn-secondary mb-1">Edit Profile</a>
                <a href="{% url 'post-create' %}" class="btn btn-primary">New Post</a>
              </div>
            {% endif %}

          </div>
        </div>

        <div class="col-md-7">
          <div class="container">
            {% if messages %}
              {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
            {% block content %}{% endblock %}
          </div>

        </div>

        <div class="col-md-3">
          {% block side_content %}{% endblock %}
        </div>
      </div>
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


    <footer class="footer">
       <div class="container-flow jumbotron">
         <div class="row">

           <div class="col-md-12 col-lg-4">
             <div class="footer-logo">

               <a class="navbar-brand" href="#">NSU Social</a>
               <p>A social platform for the students of NSU.</p>

             </div>
           </div>

           <div class="col-sm-6 col-md-3 col-lg-2">
             <div class="list-menu">

               <h4>About Us</h4>

               <ul class="list-unstyled">
                 <li><a href="{% url 'blog-about' %}">About us</a></li>
               </ul>

             </div>
           </div>

           <div class="col-sm-6 col-md-3 col-lg-2">
             <div class="list-menu">

               <h4>Backend</h4>

               <ul class="list-unstyled">
                 <li><a href="#">Python</a></li>
                 <li><a href="#">Django</a></li>
               </ul>

             </div>
           </div>

           <div class="col-sm-6 col-md-3 col-lg-2">
             <div class="list-menu">

               <h4>DEVELOPED BY</h4>

               <ul class="list-unstyled">
                 <li>Name: <a href="#">S. M. Al Faruqui</a></li>
                 <li>ID: <a href="#">172 1395 042</a></li>
               </ul>

             </div>
           </div>

           <div class="col-sm-6 col-md-3 col-lg-2">
             <div class="list-menu">

               <h4>Developed For:</h4>

               <ul class="list-unstyled">
                 <li>Course: <a href="#">CSE 299</a></li>
                 <li>Sec: <a href="#">19</a></li>
                 <li>Semester: <a href="#">Sping, 2019</a></li>
                 <li>Faculty: <a href="#">ZBZ</a></li>
               </ul>

             </div>
           </div>

         </div>
       </div>

       <div class="copyrights">
         <div class="container">
           <p>&copy; Copyrights NSU Social. All rights reserved.</p>
           <div class="credits">
             <!--
               All the links in the footer should remain intact.
               You can delete the links only if you purchased the pro version.
               Licensing information: https://bootstrapmade.com/license/
               Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=eStartup
             -->
           </div>
         </div>
       </div>

     </footer>
</body>
</html>
