{% extends "blog/base.html" %}
{% block content %}

{% if user.is_authenticated %}
  <h3>number: {{ num }}</h3>
  <h2>{{ user.username }}'s Newsfeed:</h2>
  {% for std in students %}
  <h5> {{std.email}}</h5>
  {% endfor %}

    {% for post in posts %}

        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.author }}</a>
              <small class="text-muted">{{ post.date_posted|date:"d M, Y" }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>

    {% endfor %}
{% else %}
  <h2>Login to see your news feed</h2>
{% endif %}
{% endblock content %}
