{% extends "blog/base.html" %}
{% block content %}
<div class="container col-md-10">
  <legend class="border-bottom mb-4">All Members ( {{ page_obj.paginator.count }} ) : </legend>

  <!--Paginator -->
{% include "blog/_paginator.html" %}

    {% for p in profiles %}
        <article class="media content-section">
          <img class="rounded-circle account-img" src="{{ p.image.url }}" alt="">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{% url 'user-detail' p.id %}">{{ p.user.username }} </a>

              <small class="text-muted"><a href="{% url 'user-detail' p.id %}">
                ({{ p.user.email }})</a></small>
                <small class="float-right">Member Since: {{ p.date_registered|date:"d M, Y"  }}</small>
            </div>
            <p class="text-info">{{ p.status }}</p>
            <small>Blog Posts: <a href="{% url 'user-posts' p.user.username %}">{{ p.user.post.count }}</a></small><br>
            <small>Group Posts: <a href="{% url 'posts:for_user' username=p.user.username %}">{{ p.user.posts.count }}</a></small><br>

            {% if user.is_staff %}
              <a class="btn btn-danger btn-sm mt-1 mb-1 float-right" href="{% url 'user-delete' p.user.id %}">Delete User</a>
            {% endif %}
          </div>

        </article>
    {% endfor %}
    {% include "blog/_paginator.html" %}
  </div>
{% endblock content %}
