{% extends "blog/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container col-md-9">
  <div class="content-section">
      <form method="POST">
          {% csrf_token %}
          <fieldset class="form-group">
              <legend class="border-bottom mb-4 text-center text-info">Account Registration</legend>
              {{ form | crispy }}
          </fieldset>
          <div class="form-group text-center">
              <button class="btn btn-outline-info" type="submit">Sign Up</button>
          </div>
      </form>
      <div class="border-top pt-3 mb-5 text-right">
          <small class="text-muted">
              Already Have An Account? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
          </small>
      </div>
      <legend class="border-bottom mb-1 text-center text-danger">Disclaimer</legend>
      <small>You can't create an account unless you are included in the
        <b>NSU-Social Students-database.</b><br><br>
        So if you want to create an acount send me an email at <b><em>s.m.faruqui@northsouth.edu</em></b> to add you to our database<br>
        <br>
        <em>Sample Email:</em><br>
        <b>Email Title:</b> NSU Social- [Your NSU ID] <br>
        <b>Email Content:</b> Your [NSU ID] and [NSU email address]
      </small>
  </div>
</div>

{% endblock content %}
